html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

i.btn {
    margin: 2px 5px !important;

}

li.dropdown a.nav-link {
    color: rgba(255,255,255,0.75);
}

.form-floating > .form-select ~ label {
    color: #868e96;
}

.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.75rem 0.5rem;
    box-shadow: 0 -2px;
}